<!DOCTYPE html>
<html>
  <head>
    <title>ProjectTodoTwilio</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <section id="flash">
     <% flash.each do |type, message| %>
        <div>
          <strong><%= type %>! <%= message %></strong>
        </div>
     <% end %>
    </section>

    <nav>
      <%= link_to 'Stuff to do', tasks_path %> |
      <%= link_to 'Add a task', new_task_path %>
    </nav>
    <%= yield %>
  </body>
</html>
